.header{
    height: 100px;
}

.heading_text{
    padding: 20px 0;
    border-bottom: 1px solid black;
}

.required:after {
    content:"*";
    color: red;
  }
  /* .form-control {
    border: 0;
} */
td:hover{
    cursor:move;
}

body{
    background-color: #ffffff;
}

#add_row{
    cursor: pointer;
}

#deleteRow{
    cursor: pointer;
}

.dropbtn {
    /* background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px; */
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    float:left;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    float:left;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
.required{ color: red;}
#totalAmount{
  border: none;
  border-color: transparent;
}
a.disabled {
  pointer-events: none;
}
/*transparent borderless inputfield*/
input.transparent-input{
  background-color:rgba(0,0,0,0) !important;
  border: 0;
}
textarea.transparent-textarea{
  background-color:rgba(0,0,0,0) !important;
  border: 0;
}

.animated {
align-content:left;
height: 150px; 
overflow: auto; 
overflow-wrap: break-word; 
resize: none;
}

#tblData{
  width: 98%;
  margin: auto;
}

#addBtn {
  margin-top: 15px;
  margin-left: 14px;
}

.modalInventoryItems{
  background-color: #f3f8fe;
  text-align: center;
  padding-top: 1%;
  height: 125px;
}

.grey_font{
color: #afa1a9;
}
.selectStyle{
  background: transparent;
  border: none;
  width: 50%;
}