table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td,
th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #ffffff;
}
.even {
    background-color: #ffffff;
}
.odd {
    background-color: #ffffff;
}
.myDragClass {
    background-color: #ffffff;
    font-size: 16pt;
}